.gallery_page {
    padding-top: 100px;
    @extend %flex_collum_c;
    @include size(1440px, auto);
    margin: auto;
    #foogallery-album-144 {
        width: 100%;
        margin: 50px 0;
        ul {
            @extend %flex_row_a;
            width: 100%;
            list-style: none;
            li {
                @include size(350px, 350px);
                @extend %flex_collum_c;
                border-radius: 25% 0 10% 0;
                text-align: center;
                transition: all 1s;
                background: #abbaab;
                background: -webkit-linear-gradient(to top, #c4c5c7, #f0f1f400);
                background: linear-gradient(to top, #c4c5c7, #f0f1f400);
                &:hover {
                    box-shadow: 0 0 20px 3px #0303037a;
                }
            }
        }
    }
}