.gallery-page {
    position: relative;
    @include size(100%, auto);
    padding: 100px 0;
    .foto_block {
        @include size(80%, auto);
        position: relative;
        margin: auto;
        text-align: center;
        .back_hone {
            position: fixed;
            font-size: 20px;
            right: 0px;
            top: 161px;
            padding: 5px 20px;
            color: #2c3632;
            border: 2px double #2c3632;
            border-radius: 40px;
            background-color: #d3d4d6;
            z-index: 5;
        }
        .gallery {
            margin: auto;
            margin-top: 180px;
        }
    }
}


/*-----------------------adaptive--------*/

@media (max-width: 1200px) {
    .gallery-page {
        .foto_block {
            width: 960px;
            .big_titel {
                font-size: 64px;
            }
            .gallery {
                margin-top: 73px;
            }
        }
    }
}

@media (max-width: 992px) {
    .gallery-page {
        .foto_block {
            width: 792px;
        }
    }
}

@media (max-width: 768px) {
    .gallery-page {
        .foto_block {
            width: 614px;
            .back_hone {
                top: 80px;
            }
        }
    }
}

@media (max-width: 640px) {
    .gallery-page {
        .foto_block {
            width: 512px;
            .back_hone {
                top: 60px;
                font-size: 14px;
                padding: 3px 10px;
            }
        }
    }
}

@media (max-width: 576px) {
    .gallery-page {
        .foto_block {
            width: 460px;
        }
    }
}

@media (max-width: 480px) {
    .gallery-page {
        .foto_block {
            width: 384px;
        }
    }
}

@media (max-width: 384px) {
    .gallery-page {
        .foto_block {
            width: 300px;
        }
    }
}