/*------------------------header menu--------------*/


/*--------------------------about us ---------------*/

.back_block_1 {
    left: 50px;
    transition: all 0.8s;
}


/*------------------service block-----------------*/

.service_box {
    opacity: 0;
    transition: all 1s;
}

.icon_service,
.frame_icon,
.text_box,
.info_box {
    transition: all 1s ease;
}

.active_rigth.active_rigth {
    transform: rotate(90deg);
    width: 163px;
    height: 163px;
    box-shadow: 5px 0px 18px .8px black;
}

.active_left.active_left {
    transform: rotate(-90deg);
    width: 163px;
    height: 163px;
    box-shadow: 5px 0px 18px .8px black;
}

.icon_service.big {
    width: 145px;
    height: 145px;
    box-shadow: 5px 0px 18px .8px black;
}

.text_box.tb_animation_left {
    height: 163px;
    margin-left: 10px;
    background-color: #f0f1f4;
    border: 5px solid #c6c9c1;
    border-radius: 35% 0 10%;
    box-shadow: 5px 0px 18px .8px black;
    font-size: 70px;
    text-shadow: #0c0c0c65 5px 6px 7px;
}

.text_box.tb_animation_right {
    height: 163px;
    margin-right: 10px;
    background-color: #f0f1f4;
    border: 5px solid #c6c9c1;
    border-radius: 0 35% 0 35%;
    box-shadow: 5px 0px 18px .8px black;
    font-size: 70px;
    text-shadow: #0c0c0c65 5px 6px 7px;
}

.action {
    opacity: 1;
    left: 0;
    right: 0;
    top: 0;
}

.slideRight {
    animation-name: slideRight;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    visibility: visible !important;
    opacity: 1;
}

@keyframes slideRight {
    0% {
        transform: translateX(-150%);
    }
    70% {
        transform: translateX(15%);
    }
    100% {
        transform: translateX(0%);
    }
}

.slideLeft {
    animation-name: slideLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    visibility: visible !important;
    opacity: 1;
}

@keyframes slideLeft {
    0% {
        transform: translateX(150%);
    }
    75% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(0%);
    }
}