@import 'base/_reset';
@import 'base/mixins';
@import 'base/variable';
@import 'base/standart';
@import 'home-page/header';
@import 'home-page/slider';
@import 'home-page/sn';
@import 'home-page/about-us';
@import 'home-page/service';

/*------------------fonts-----------------------
font-family: 'IBM Plex Serif', serif;
font-family: 'Play', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto Slab', serif;
--------------------------------*/

.big_titel {
    font-size: 84px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
}

.block_title {
    font-size: 60px;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 600;
    color: #2c3632;
    position: relative;
    @include trbl(100px, 0, 0, 0);
    transition: all 1s;
    visibility: collapse;
    z-index: 1;
}

.aus_title {
    top: 50px;
    visibility: visible;
    z-index: 1;
}

p {
    font-size: 18px;
    font-family: 'Play', sans-serif;
    font-weight: 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f1f4;
}

a {
    text-decoration: none;
    color: #2c3632;
    font: {
        size: 25px;
        weight: bold;
    }
}


/*------------------------slider----------------------*/


/*------------------back image---------------------*/

.au_img {
    display: flex;
    position: absolute;
    z-index: -1;
}

.left_img {
    width: 350px;
    height: 320px;
}

.top_right_img img,
.bottom_right_img img {
    width: 482px;
    height: 365px;
}

.bottom_left_img {
    left: 0px;
    bottom: 0px;
}

.top_right_img {
    right: 0px;
    top: 0px;
}

.bottom_right_img {
    right: 0px;
    bottom: 0px;
}