@import 'base/_reset';
@import 'base/mixins';
@import 'base/variable';
@import 'base/standart';
@import 'home-page/header';
body {
    background-color: #f0f1f4;
}

a {
    text-decoration: none;
    color: #2c3632;
    font: {
        size: 25px;
        weight: bold;
    }
}

.welcome,
.text_box,
.info_name,
h1,
.abour_us_heading {
    font-size: 60px;
    color: #2c3632;
    text-shadow: #0f14129a 5px 6px 7px;
}


/*------------------------slider----------------------*/

.slider {
    box-shadow: 0px 0px 8px 1px black;
}

.button_slider>div {
    box-shadow: 6px 7px 15px 2px black;
    transition: all 0.8s;
}

.button_slider>div:hover {
    box-shadow: none;
}


/*------------------back image---------------------*/

.au_img {
    display: flex;
    position: absolute;
    z-index: -1;
}

.left_img {
    width: 350px;
    height: 320px;
}

.top_right_img img,
.bottom_right_img img {
    width: 482px;
    height: 365px;
}

.bottom_left_img {
    left: 0px;
    bottom: 0px;
}

.top_right_img {
    right: 0px;
    top: 0px;
}

.bottom_right_img {
    right: 0px;
    bottom: 0px;
}