.about_us {
    position: relative;
    @include size(100%, 900px);
    .about_us_block {
        @extend %flex_collum_c;
        @include size(1440px, 100%);
        position: relative;
        transform-style: preserve-3d;
        margin: auto;
        text-align: center;
        .about_us_text_foto {
            @extend %flex_row_b;
            @include size(100%, 70%);
            position: relative;
            transition: all 1s;
            opacity: 0;
            border-radius: 25% 0 10% 0;
            background: #abbaab;
            background: -webkit-linear-gradient(-45deg, #c4c5c7, #f0f1f400);
            background: linear-gradient(-45deg, #c4c5c7, #f0f1f400);
            margin: auto;
            z-index: 3;
            .about_us_text {
                @extend %flex_collum_fs;
                @include size(70%, 100%);
                padding: 30px 0 30px 125px;
                overflow: auto;
                p {
                    text-indent: 30px;
                    text-align: justify;
                    font-size: 24px;
                    font-weight: 500;
                    color: #2c3632;
                    margin: 5px 5px 5px 25px;
                    letter-spacing: 0.8px;
                }
            }
            .about_foto {
                @include size(auto, 100%);
                box-shadow: inset 33px 0px 20px 7px #d5d7d9d4;
                border-radius: 0 0 10% 0;
                img {
                    @include size(auto, 100%);
                    border-radius: 0 0 10% 0;
                    position: relative;
                    z-index: -2;
                }
            }
        }
        .aus_text_foto {
            opacity: 1;
        }
    }
}


/*-----------------------adaptive--------*/

@media (max-width: 1200px) {
    .about_us {
        @include size(100%, 800px);
        .about_us_block {
            @include size(992px, 100%);
            h3 {
                font-size: 56px;
            }
            .about_us_text_foto {
                .about_us_text {
                    padding: 20px 0 20px 20px;
                    p {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width:992px) {
    .about_us {
        @include size(100%, 700px);
        .about_us_block {
            @include size(768px, 100%);
            h3 {
                font-size: 52px;
            }
            .about_us_text_foto {
                .about_us_text {
                    padding: 20px 0 20px 20px;
                    p {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media (max-width:768px) {
    .about_us {
        @include size(100%, 600px);
        .about_us_block {
            @include size(576px, 100%);
            h3 {
                font-size: 42px;
            }
            .about_us_text_foto {
                .about_us_text {
                    padding: 20px 0 20px 20px;
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (max-width:576px) {
    .about_us {
        @include size(100%, auto);
        .about_us_block {
            @include size(540px, auto);
            h3 {
                font-size: 38px;
            }
            .about_us_text_foto {
                flex-direction: column;
                @include size(480px, auto);
                margin-top: 100px;
                .about_us_text {
                    @include size(100%, 400px);
                    overflow: auto;
                    padding: 30px 25px 30px 25px;
                    p {
                        font-size: 14px;
                    }
                }
                .about_foto {
                    width: 100%;
                    box-shadow: none;
                    position: absolute;
                    overflow: hidden;
                    border-radius: 25% 0 10% 0;
                    img {
                        @include size(540px, auto);
                        filter: blur(4px);
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .about_us {
        @include size(100%, auto);
        .about_us_block {
            @include size(320px, auto);
            h3 {
                font-size: 34px;
            }
            .about_us_text_foto {
                flex-direction: column;
                @include size(300px, auto);
                margin-top: 100px;
                .about_us_text {
                    @include size(100%, 450px);
                    overflow: auto;
                    padding: 30px 25px 30px 25px;
                    p {
                        font-size: 12px;
                    }
                }
                .about_foto {
                    width: 100%;
                    box-shadow: none;
                    position: absolute;
                    overflow: hidden;
                    border-radius: 25% 0 10% 0;
                    img {
                        @include size(320px, auto);
                        filter: blur(4px);
                    }
                }
            }
        }
    }
}