footer {
    @include size(100%, auto);
    background-color: #a0a1a3;
    padding: 50px 20px;
    .footer_titel {
        font-size: 32px
    }
    .footer_block {
        @extend %flex_row_a;
        @include size(1440px, 100%);
        margin: auto;
        align-items: flex-start;
        .contact {
            ul {
                list-style: none;
                .contact_list {
                    padding-top: 10px;
                    margin-bottom: 20px;
                    li {
                        font-size: 16px;
                    }
                }
            }
            .google_map {
                border: 1px solid black;
            }
        }
    }
}