        .services {
            @extend %flex_collum_csb;
            position: relative;
            @include size(100%, auto);
            .service_elenebt {
                @extend %flex_row_b;
                @include size(80%, auto);
                padding: 110px 0;
                position: relative;
                margin: auto;
                .service_box {
                    @include size(27%, 620px);
                    border-radius: 25% 0 10% 0;
                    padding: 10px;
                    list-style: none;
                    opacity: 0;
                    background: #abbaab;
                    background: -webkit-linear-gradient(to top, #c4c5c7, #f0f1f400);
                    background: linear-gradient(to top, #c4c5c7, #f0f1f400);
                    .icon {
                        @extend %flex_row_c;
                        @include size(100%, 50%);
                        transform-style: preserve-3d;
                        transition: all 1s;
                        .icon_service {
                            @include size(200px, 200px);
                            overflow: hidden;
                            padding: 15px;
                            background-image: radial-gradient(#899593ea, #6f6f6f);
                            background-size: cover;
                            img {
                                @include size(auto, 100%);
                            }
                        }
                        .frame_icon {
                            position: absolute;
                            @include size(240px, 240px);
                            transition: all 1s;
                            border: 20px solid #c6c9c1;
                            transform: rotateZ( 347deg) translate(-1px) rotateY( 16deg) rotateX( 13deg);
                        }
                    }
                    &:hover {
                        box-shadow: 0 0 20px 3px #0303037a;
                    }
                    &:hover .frame_icon {
                        transform: rotateZ( 270deg) translate(-1px) rotateY( -184deg) rotateX( -3deg);
                    }
                    &:nth-child(1) {
                        transition: all 1.5s;
                    }
                    &:nth-child(2) {
                        transition: all 2s;
                    }
                    &:nth-child(3) {
                        transition: all 2.5s;
                    }
                }
                .service_elenebt_open {
                    opacity: 1;
                }
                .block_title {
                    font-size: 53px;
                    text-align: center;
                    line-height: 90px;
                }
            }
        }
        /*-----------------------adaptive--------*/
        
        @media (max-width: 1200px) {
            .services {
                height: 800px;
                .service_elenebt {
                    width: 960px;
                    .service_box {
                        @include size(268px, 500px);
                        .block_title {
                            font-size: 36px;
                            line-height: 80px;
                        }
                    }
                }
            }
        }
        
        @media (max-width: 992px) {
            .services {
                height: auto;
                .service_elenebt {
                    width: 792px;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    .service_box {
                        position: relative;
                        @include size(356px, 580px);
                        margin-bottom: 25px;
                        .block_title {
                            font-size: 50px;
                            line-height: 80px;
                        }
                    }
                }
            }
        }
        
        @media (max-width: 768px) {
            .services {
                .service_elenebt {
                    width: 614px;
                }
            }
        }
        
        @media (max-width: 576px) {
            .services {
                .service_elenebt {
                    width: 460px;
                    .service_box {
                        height: 480px;
                        .icon {
                            .icon_service {
                                @include size(160px, 160px);
                            }
                            .frame_icon {
                                @include size(190px, 190px);
                                border: 15px solid #c6c9c1;
                            }
                        }
                        .block_title {
                            font-size: 40px;
                            line-height: 50px;
                        }
                    }
                }
            }
        }
        
        @media (max-width: 480px) {
            .services {
                .service_elenebt {
                    width: 384px;
                    .service_box {
                        @include size(356px, 480px);
                        .block_title {
                            font-size: 40px;
                            line-height: 50px;
                        }
                    }
                }
            }
        }
        
        @media (max-width: 384px) {
            .services {
                .service_elenebt {
                    width: 300px;
                    .service_box {
                        @include size(200px, 350px);
                        .icon {
                            .icon_service {
                                @include size(110px, 110px);
                            }
                            .frame_icon {
                                @include size(130px, 130px);
                                border: 10px solid #c6c9c1;
                            }
                        }
                        .block_title {
                            font-size: 26px;
                            line-height: 40px;
                        }
                    }
                }
            }
        }