/*------------------contact network------------------*/

.social_networks {
    position: fixed;
    float: left;
    top: 130px;
    left: -60px;
    z-index: 99;
    transition: all 0.8s;
}

:hover {
    left: 0px;
}

.sn_box {
    width: 65px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 30px;
    color: #2c3632;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    transition: all 0.8s;
}

.sn_box_close {
    display: none;
}

.open_sn_bpx {
    display: none;
}

.facebook {
    border: 2px solid #351da1;
    background-image: radial-gradient(circle at 40% 60%, #b1bde6, #244bd6 75%);
}

.instagrann {
    border: 2px solid #6b1039;
    background-image: radial-gradient(circle at 40% 60%, #fa9239, #e6247b 75%);
}

.messenger {
    border: 2px solid #275195;
    background-image: radial-gradient(circle at 40% 60%, #e1f0f9, #448bff 75%);
}

.viber {
    border: 2px solid #572485;
    background-image: radial-gradient(circle at 40% 60%, #e6ccfd, #9640e0 75%);
}

.telegram {
    border: 2px solid #145779;
    background-image: radial-gradient(circle at 40% 60%, #c3dfee, #28a8e9 75%);
}

.whatsapp {
    border: 2px solid #337423;
    background-image: radial-gradient(circle at 40% 60%, #e8f8e4, #62d246 75%);
}

.youtube {
    border: 2px solid #5e0202;
    background-image: radial-gradient(circle at 40% 60%, #be9393, #ff0000 75%);
}

.google_plus {
    border: 2px solid #5f1b15;
    background-image: radial-gradient(circle at 40% 60%, #daaba7, #dc4c40 75%);
}

.sn_box_enlarge {
    width: 130px;
}