.services {
    display: flex;
    position: relative;
}

.conteiner {
    position: relative;
    list-style: none;
    max-width: 1200px;
    margin: 50px auto;
}

.service_box {
    display: flex;
    height: 150px;
    cursor: pointer;
    margin: 100px 0;
}

.service_box:nth-child(odd) .icon {
    float: left;
}

.service_box:nth-child(even) .icon {
    float: right;
    right: 1px;
}


/*-----------------------icon box---------------------*/

.icon {
    display: flex;
    float: left;
    justify-content: center;
    vertical-align: middle;
    margin: 0 auto;
}

.icon_service {
    width: 130px;
    height: 130px;
    margin-top: 8px;
    overflow: hidden;
    padding: 15px;
    background-image: radial-gradient(#899593ea, #6f6f6f);
    border-top-width: 135px;
    background-size: cover;
}

.frame_icon {
    position: absolute;
    width: 148px;
    height: 148px;
    border: 10px solid #c6c9c1;
    transform: rotate(-15deg);
}

.icon_service img {
    margin: auto;
    width: 90%;
}


/*----------------------text box----------------------*/

.text_box {
    display: flex;
    width: 700px;
    height: 150px;
}

.service_box:nth-child(odd) .text_box {
    float: left;
}

.service_box:nth-child(even) .text_box {
    float: right;
}

.text {
    margin: auto;
}